body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to left,#002147,#4169E1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #002B6B;
    border-bottom: 1px solid white;
    height: 150px;
}
.logo{
    text-align: left;
    display: block;
    width: 100%;
    margin-top: 10px;
}
.login{
    float: right;
}

#email{
    padding: 10px 20px 10px 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    margin-right: 10px;

}
#email::placeholder{
    color: white;
    font-size: 15px;
}
#password{
    padding: 10px 20px 10px 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    margin-right: 10px;
    margin-top: 5px;
}
#password::placeholder{
    color: white;
    font-size: 15px;

}
.login button{
    padding: 10px 30px 10px 30px;
    background-color: #002147;
    border: 2px solid black;
    color: white;
 
}
#login button::placeholder{
    color: black;
    font-size: 15px;
}

.navigationbar{
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;

}
.navigationbar a{
    text-transform: uppercase;
    text-decoration: none;
    
}
.navigationbar a:hover{
    color: lightgray;
    border-bottom: 1px solid white;
}
.news{
    margin-right: 70px;
}
a:link{
    color: white;
}
a:visited{
    color: black
    ;
}

a:active{
    color: #ffd1dc;
}
button:active{
    color: #333333;
}
button:hover{
    color: #4a90e2;
}

.sector1 {   
    display: flex;
}

.allnews {
    border: 1px solid grey;
    margin-left: 5px;
    margin-top: 10px;
    width: 400px;
    position: relative;
    transition: all 0.5s;
    transition-timing-function: 0.5s;
}

.allnews img {
    width: 398px;
    height: 300px;
    object-fit: cover;
}

.allnews .description {
    color: white;
    padding: 10px;
    font-size: 20px; 
    font-weight: bolder;
    font-weight: bolder;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis; 
    overflow: hidden; 
}

.allnews:hover {
    opacity: calc(80%);
    background-color: #002147;
    transition: 0.5s;
    border: 1px solid black;
    transform: scale(1.1);
}

.sector2 {
    display: flex;
}

.forthnews {
    display: flex;
    border: 1px solid grey;
    margin: 20px;
    width: 1200px; 
    position: relative;
    left: 15px;
    transition: all 0.5s;
    transition-timing-function: 0.5s;
}

.forthnews img {
    width: 800px; 
    height: auto; 
}

.forthnews .bigdescription {
    color: white;
    padding: 10px;
    font-size: 20px; 
    font-weight: bolder;
    text-align: right;
}

.forthnews .littledescription {
    color: white;
    padding: 10px;
    font-size: 14px; 
    font-weight: bold; 
    text-align: right;
}

.forthnews:hover {
    opacity: 0.8; 
    background-color: #002147;
    border: 1px solid black;
    transform: scale(0.9);
}

.forthnews .seemore {
    border: 3px solid white;
    text-align: center;
    font-size: 16px;
    padding: 5px;
}

.seemore a {
    text-transform: uppercase;
    text-decoration: none;
}
.sector3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fifthnews {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid grey;
    margin: 20px;
    width: 1200px; 
    position: relative;
    left: 15px;
    transition: all 0.5s;
    transition-timing-function: 0.5s;
}

.fifthnews img {
    width: 100%; 
    height: auto; 
}

.fifthnews .bigdescription {
    color: white;
    padding: 10px;
    font-size: 20px; 
    font-weight: bolder;
    text-align: left;
}

.fifthnews .littledescription {
    color: white;
    padding: 10px;
    font-size: 14px; 
    font-weight: bold; 
    text-align: left;
}

.fifthnews:hover {
    opacity: 0.8; 
    background-color: #002147;
    border: 1px solid black;
    transform: scale(0.9);
}
.footer {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    position: relative;
    text-align: center;
    top: 500px;
    background-color: #002B6B;
    color: white;
    font-size: large;
}


@media only screen and (min-width: 375px) {
    .header {
        height: auto;
    }

    .logo img {
        width: 100%;
        height: auto;
    }

    .navigationbar {
        display: flex;
        justify-content: center;
    }

    .navigationbar .news {
        margin: 0 10px;
    }

    .login {
        float: none;
        margin-top: 10px;
        text-align: center;
        margin-bottom: 10px;
    }

    #email,
    #password {
        display: block;
        margin: 5px auto;
    }

    button {
        margin: 5px auto;
    }

    .sector1,
    .sector2,
    .sector3 {
        flex-direction: column;
        align-items: center;
    }

    .allnews {
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        overflow: hidden;
        transition: all 0.5s;
        transition-timing-function: 0.5s;
        width: 355px; /* Adjust width here */
        max-width: 100%; /* Change to 100% to make it responsive */
    }

    .allnews img {
        display: block;
        width: 100%;
        height: auto;
    }

    .allnews .description {
        color: white;
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .allnews:hover {
        opacity: 0.8;
        background-color: #002147;
        transform: scale(1.1);
    }

    .forthnews,
    .fifthnews {
        margin-top: 10px;
        margin-right: 0;
        margin-left: 5px;
        width: 320px;
        max-width: 100%; /* Change to 100% to make it responsive */
        box-sizing: border-box;
        overflow: hidden;
        transition: all 0.5s;
        transition-timing-function: 0.5s;
    }

    .forthnews img,
    .fifthnews img {
        display: block;
        width: 100%;
        height: auto;
    }

    .forthnews .bigdescription,
    .fifthnews .bigdescription {
        color: white;
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100%;
    }

    .forthnews .littledescription,
    .fifthnews .littledescription {
        display: none;
    }

    .forthnews:hover,
    .fifthnews:hover {
        opacity: 0.8;
        background-color: #002147;
        transform: scale(1.05);
    }

    .footer {
        top: auto;
        margin-top: 10px;
    }
}

@media only screen and (min-width: 360px) {
    .header {
        height: auto;
    }

    .logo img {
        width: 100%;
        height: auto;
    }

    .navigationbar {
        display: flex;
        justify-content: center;
    }

    .navigationbar .news {
        margin: 0 10px;
    }

    .login {
        float: none;
        margin-top: 10px;
        text-align: center;
        margin-bottom: 10px;
    }

    #email,
    #password {
        display: block;
        margin: 5px auto;
    }

    button {
        margin: 5px auto;
    }

    .sector1,
    .sector2,
    .sector3 {
        flex-direction: column;
        align-items: center;
    }

    .allnews {
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        overflow: hidden;
        transition: all 0.5s;
        transition-timing-function: 0.5s;
        width: 355px; /* Adjust width here */
        max-width: 100%; /* Change to 100% to make it responsive */
    }

    .allnews img {
        display: block;
        width: 100%;
        height: auto;
    }

    .allnews .description {
        color: white;
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .allnews:hover {
        opacity: 0.8;
        background-color: #002147;
        transform: scale(1.1);
    }

    .forthnews,
    .fifthnews {
        margin-top: 10px;
        margin-right: 0;
        margin-left: 5px;
        width: 310px;
        max-width: 100%; /* Change to 100% to make it responsive */
        box-sizing: border-box;
        overflow: hidden;
        transition: all 0.5s;
        transition-timing-function: 0.5s;
    }

    .forthnews img,
    .fifthnews img {
        display: block;
        width: 100%;
        height: auto;
    }

    .forthnews .bigdescription,
    .fifthnews .bigdescription {
        color: white;
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100%;
    }

    .forthnews .littledescription,
    .fifthnews .littledescription {
        display: none;
    }

    .forthnews:hover,
    .fifthnews:hover {
        opacity: 0.8;
        background-color: #002147;
        transform: scale(1.05);
    }

    .footer {
        top: auto;
        margin-top: 10px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header {
        height: auto;
        display: flex; /* Use flexbox to control the layout */
        justify-content: space-between; /* Space items evenly */
        align-items: center; /* Center items vertically */
    }

    .logo {
        margin-left: 20px; /* Adjust margin-left to move the logo more to the left */
    }

    .navigationbar {
        margin-right: 20px; /* Adjust margin-right for spacing on the right side */
    }

    .navigationbar .news {
        margin: 0 15px; /* Adjust margins for spacing between navigation items */
    }


    #email,
    #password {
        display: block;
        margin: 5px auto;
    }

    button {
        margin: 5px auto;
    }

    .sector1,
    .sector2,
    .sector3 {
        flex-direction: column;
        align-items: center;
    }

    .allnews,
    .forthnews,
    .fifthnews {
        width: 300px; /* Adjust width with margin */
        max-width: 100%; /* Make it responsive */
    }

    .allnews:hover {
        opacity: 0.8;
        background-color: #002147;
        transform: scale(1.1);
    }


    .forthnews:hover,
    .fifthnews:hover {
        opacity: 0.8;
        background-color: #002147;
        transform: scale(1.05);
    }

    .footer {
        top: auto;
        margin-top: 10px;
    }
}

@media only screen and (min-width: 280px) and (max-width: 600px) {
    .header {
        height: auto;
    }

    .logo img {
        width: 100%;
        height: auto;
    }

    .navigationbar {
        display: flex;
        justify-content: center;
    }

    .navigationbar .news {
        margin: 0 10px;
    }

    .login {
        float: none;
        margin-top: 10px;
        text-align: center;
        margin-bottom: 10px;
    }

    #email,
    #password {
        display: block;
        margin: 5px auto;
    }

    button {
        margin: 5px auto;
    }

    .sector1,
    .sector2,
    .sector3 {
        flex-direction: column;
        align-items: center;
    }

    .allnews {
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        overflow: hidden;
        transition: all 0.5s;
        transition-timing-function: 0.5s;
        width: 355px; /* Adjust width here */
        max-width: 100%; /* Change to 100% to make it responsive */
    }

    .allnews img {
        display: block;
        width: 100%;
        height: auto;
    }

    .allnews .description {
        color: white;
        padding: 10px;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .allnews:hover {
        opacity: 0.8;
        background-color: #002147;
        transform: scale(1.1);
    }

    .forthnews,
    .fifthnews {
        margin-top: 10px;
        margin-right: 0;
        margin-left: 5px;
        width: 230px;
        max-width: 100%; /* Change to 100% to make it responsive */
        box-sizing: border-box;
        overflow: hidden;
        transition: all 0.5s;
        transition-timing-function: 0.5s;
    }

    .forthnews img,
    .fifthnews img {
        display: block;
        width: 100%;
        height: auto;
    }

    .forthnews .bigdescription,
    .fifthnews .bigdescription {
        color: white;
        padding: 10px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-width: 100%;
    }

    .forthnews .littledescription,
    .fifthnews .littledescription {
        display: none;
    }

    .forthnews:hover,
    .fifthnews:hover {
        opacity: 0.8;
        background-color: #002147;
        transform: scale(1.05);
    }

    .footer {
        top: auto;
        margin-top: 10px;
    }
}