body{
    background-image:url(images/Futuristic-Electronics-Artist-Concept.webp) ;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

h1{

}
.text{

}
.picture{

}
