body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right,#002147,#4169E1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #002B6B;
    border-bottom: 1px solid white;
    height: 150px;
}
.logo{
    text-align: left;
    display: block;
    width: 100%;
    margin-top: 10px;
}
.navbar{
    float: right;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;

}

.navbar a{
    text-transform: uppercase;
    text-decoration: none;
    
}
.navbar a:hover{
    color: lightgray;
    border-bottom: 1px solid white;
}
.news{
    margin-right: 70px;
}
a:link{
    color: white;
}
a:visited{
    color: black
    ;
}

a:active{
    color: #ffd1dc;
}

.bigdescription {
    color: white;
    padding: 10px;
    font-size: 50px; 
    font-weight: bolder;
    text-align: center;
    width: 100vh;
}
.news1 {
    margin: 20px;
    position: relative;
    top: 50px;
}
.slika{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 300px;
}
.puna{
    display: flex;
    justify-content: center;
    margin: 20px;
    position: relative;
    top: 50px;
}
.tekst{
    color: white;
    display: flex;
    justify-content: center;
    margin: 20px;
    position: relative;
    top: 30px;
}
.credit{
    color: white;
    display: flex;
    justify-content: left;
    margin: 30px;
    position: relative;
    top: 5px;
}
.footer {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    position: relative;
    text-align: center;
    top: 100px;
    background-color: #002B6B;
    color: white;
    font-size: large;
}