html,body
{
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.header{
    position: sticky;
    top: 0;
    z-index: 1000; 
    background-color: #0C3C60;
    opacity: 0.9;
}

.logo img{
max-width: 60px;
height: auto;
width: 100px;
margin-left: 10px;
}
.ime1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background-image: linear-gradient(#DAF1F4,#B9E4EF);
    background-clip: text;
    color: transparent;
    text-decoration: none !important;
}

.logo a:link{
    text-decoration: none !important;
}
.gumbic{
    margin-top: 80px;
    padding: 15px 30px 15px 30px;
}
.gumbic a{
    text-decoration: none;
}
.gumbic a:hover{
    color: white;
}
.gumbic:hover{
    background-color: #0C3B5F;
    transition: 0.5s;
    border: white;
}
.lista ul {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    color: white;
}
.lista ul a{
    text-decoration: none;
}
.lista ul a:hover{
    color: rgb(95, 95, 255);
    transition: 0.5s;
}
a:link{
    color: rgb(124, 122, 122);
}
a:visited{
    color: rgb(108, 106, 106);
}

a:active{
    color: #ffd1dc;
}
button:active{
    color: white;
}
button:hover{
    color: #4a90e2;
}
.sektor1 {
    background-image: url('pokusajimages/background.jpg');
    background-size: cover;
    background-position: center;
    height: 800px; 
}
.sektor2 {
    display: flex;
    justify-content: center;
    text-align: center;
}

.develop{
    margin-top: 20px;
    font-size: larger;
    font-weight: 500;
}
.achieve{
    margin-top: 20px;
    font-size: 80px;
}
.free{
    display: flex;
    justify-content: center;
    width: 100%;
}
.but a{
    text-decoration: none;
}
.but a:hover{
    color: white;
}
.but:hover{
    background-color: #0C3B5F;
    transition: 0.5s;
}
.sektor3{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.service,.projects,.clients{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    color: #0C3B5F;
}
.text{
    margin-top: 20px;
}

.info{
    display: flex;
    justify-content: center;
    width: 100%;
}
.sektor4 {
    position: relative;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.sektor4::before {
    content: ""; 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://miro.medium.com/v2/resize:fit:1400/format:webp/1*jUCNJ56O1a0HmYlrUrmXzg.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4; 
}
.naslov{
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 60px;
    margin-bottom: 30px;
}
.learnmore{
    display: flex;
    justify-content: center;
    width: 100%;
}

.but{
    margin-top: 80px;
    padding: 15px 30px 15px 30px;
    border: 1px solid #0C3B5F;
    margin-bottom: 100px;
}
.ourclients {
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    margin-top: 50px;
    color: #0C3B5F;
}

.gallery {
    display: flex;
    overflow: hidden;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.gallery-image {
    max-width: 100%;
    display: block;
    transition: transform 0.5s ease;
    margin-left: 10px;
}

.gallery-control {
    position: absolute;
    top: 30%; /* Adjust this value to move the controls up or down */
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 10;
}

.gallery-control.left {
    left: -30px;
}

.gallery-control.right {
    right: 0;
}
.partneri{
    display: flex;
    justify-content: space-between;
}
.sektor6{
    background: #0C3C60;
}
.contact {
    margin-top: 30px;
    text-align: center; 
    font-size: 24px; 
    margin-bottom: 20px; 
    color: white;
}

.inputs input[type="text"],
.inputs input[type="email"],
.inputs textarea {
    border: none; 
    border-bottom: 2px solid white; 
    background-color: transparent; 
    outline: none; 
    padding: 5px; 
    font-size: 16px; 
    width: 100%; 
    box-sizing: border-box; 
    margin-bottom: 10px; 
}

.inputs input[type="text"]:focus,
.inputs input[type="email"]:focus,
.inputs textarea:focus {
    
    border-bottom: 2px solid blue; /
}
.inputs p{
    color: white;
}
.inputs input[type="password"] {
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    outline: none;
    padding: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.inputs input[type="password"]:focus {
    border-bottom: 2px solid blue;
}

.submit {
    display: flex;
    justify-content: center;
}

.submit button {
    padding: 15px 70px 15px 70px;
    border: 1px solid white;
    color: #0C3B5F;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all
    0.3s ease;
}

.submit button:hover {
    background-color: #0C3B5F;
    color: white;
}
.maps{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 60px;
}
.sektor7{
    padding-top: 40px;
    background-color: #072136;
    color: white;
    display: flex;
    text-align: center;
}
@media screen and (min-width: 831px) and (max-width: 1024px) {
    .header{
        font-size: 15px;
    }
    .ime1{
        font-size: 20px;
    }
    .logo img{
        margin-left: 20px;
        max-width: 60px;
        height: auto;
        width: 100px;
        }
    .maps {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .maps img {
        max-width: 100%; 
        height: auto; 
        object-fit: cover;
    }
}
@media screen and (min-width: 426px) and (max-width: 830px) {
    .header{
        font-size: 15px;
    }
    .ime1{
        font-size: 10px;
    }
    .logo img{
        margin-left: 20px;
        max-width: 60px;
        height: auto;
        width: 100px;
        }
    
    .maps {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .maps img {
        max-width: 100%; 
        height: auto; 
        object-fit: cover;
    }
    #gumbic3{
        margin-top: 103px;
    }
}
@media screen and (min-width: 417px) and (max-width: 425px) {
    .header{
        font-size: 10px;
    }
    .achieve{
        font-size: 70px;
    }
    .partneri img {
        max-width: 50%; 
        height: auto;
    }
    .maps {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .maps img {
        max-width: 100%;
        height: auto; 
        object-fit: cover; 
    }
    #togglebutton{

            margin-left: 140px;

    }
    
    #togglebutton .indicator{

            margin-left: 140px;

    }
    
    #togglebutton.active .indicator{

            margin-left: 140px;

    }

}
@media screen and (min-width: 310px) and (max-width: 416px) {
    .header{
        font-size: 10px;
    }
    .achieve{
        font-size: 70px;
    }
    .partneri img {
        max-width: 50%; 
        height: auto;
    }
    .maps {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .maps img {
        max-width: 100%;
        height: auto; 
        object-fit: cover; 
    }
}
@media screen and (min-width: 280px) and (max-width: 309px) {
    .header{
        font-size: 8px;
    }
    .achieve{
        font-size: 60px;
    }
    .partneri img {
        max-width: 50%; 
        height: auto; 
    }
    .maps {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .maps img {
        max-width: 100%; 
        height: auto; 
        object-fit: cover; 
    }
}



#togglebutton{
    position: relative;
    display: block;
    width: 100px;
    height: 50px;
    border-radius: 160px;
    background: white;
    transition: 0.5s;
    margin-top: 5px;
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.5),
                inset 0 8px 8px rgba(0, 0, 0, 0.5),
                inset 0 -4px 4px rgba(0, 0, 0, 0.5);
}

#togglebutton .indicator{
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 20px;
    background: linear-gradient(to bottom, #444,#222);
    border-radius: 50%;
    transform: scale(0.9);
    

}

#togglebutton.active .indicator{
    left: 100px;

}
body.dark-theme {
    background-color: #191919;
    color: white;
}
body.dark-theme .lista ul a:hover,
body.dark-theme .gumbic:hover,
body.dark-theme .ourclients,
body.dark-theme .service,
body.dark-theme .projects,
body.dark-theme .clients {
    color: #4a90e2;  
}
body.dark-theme .header,
body.dark-theme .sektor6{
    background-color: #363535; 
    color: #ccc;  
}
body.dark-theme .sektor7 {
    background-color: #222222; 
    color: #ccc;  
}
body.dark-theme .naslov,
body.dark-theme .contact,
body.dark-theme .inputs p {
    color: #aaa; 
}

body.dark-theme .gallery-control {
    background-color: rgba(255, 255, 255, 0.5);
}

#more{
    display: none;
}
.read{
    background-color: #072136;
    border: none;
    outline: none;
    color: white;
    ;
}
#menu-btn{
    display: none;
}

@media(max-width:991px){
    #menu-btn {
        display: inline-block;  /* Ensures the menu button is visible */
        margin-left:400px ;
        margin-top: 15px;
        font-size: 20px;
    }
    .header .lista {
        display: none;  /* Hide the lista by default */
        position: absolute;
        top: 100%;
        right: 0;
        background: #fff;
        width: 100%;  /* Full width */
        z-index: 1050;  /* Ensure it is above other content */
    }
    .header .lista.active {
        display: block;  /* Shows the lista when active class is added */
    }
}

@media(max-width:771px){
    .header .lista.active{
        margin-top: 55px;
    }
}


#password-strength-container {
    width: 70%;
    background: #ddd;
    height: 5px;
    margin: 2rem;
    display: flex;
  }
  
  #password-strength {
    height: 5px;
    background-color: #e1e1e1;
    width: 100%;
  }
  
  .strength-weak {
    background-color: red !important;
    width: 150px;
  }
  
  .strength-medium {
    background-color: orange !important;
    width: 200px;
  }
  
  .strength-strong {
    background-color: green !important;
    width: 250px;
  }


  .comment {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
}
.comment .username {
    font-weight: bold;
}
.comment .timestamp {
    font-size: 0.8em;
    color: #999;
}
#comments-container{
    margin-top: 50px;
}

#successMessage {
    color: green;
    text-align: center;
}

#errorMessage{
    color: red;
    text-align: center;
}
.hidden {
    display: none;
}
label.error {
    display: block;
    color: brown;
}