html,body
{
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.header{
    position: sticky;
    top: 0;
    z-index: 1000; 
    background-color: #0C3C60;
}
.logo img{
max-width: 60px;
height: auto;
width: 100px;
}

.lista ul {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    color: white;
}
.lista ul a{
    text-decoration: none;
}
.lista ul a:hover{
    color: rgb(95, 95, 255);
    transition: 0.5s;
}
a:link{
    color: white;
}
a:visited{
    color: black
    ;
}

a:active{
    color: #ffd1dc;
}
button:active{
    color: white;
}
button:hover{
    color: #4a90e2;
}
.but{
    margin-top: 80px;
    padding: 15px 30px 15px 30px;
    border: 1px solid #0C3B5F;
    margin-bottom: 50px;
}
.but a{
    text-decoration: none;
}
.but a:hover{
    color: white;
}
.but:hover{
    background-color: #0C3B5F;
    transition: 0.5s;
}
.free{
    display: flex;
    justify-content: center;
    width: 100%;
}
.sektor2{
    padding-bottom: 30px;
}
.service {
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400px;
    font-size: 50px;
    color: #0C3B5F;
    margin-bottom: 20px;
}

.image1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.image1 img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.tekst {
    text-align: center;
    font-size: 20px;
    color: #0C3B5F;
}

.sektor6{
    background: #0C3C60;
}
.contact {
    margin-top: 30px;
    text-align: center; 
    font-size: 24px; 
    margin-bottom: 20px; 
    color: white;
}

.inputs input[type="text"],
.inputs input[type="email"],
.inputs textarea {
    border: none; 
    border-bottom: 2px solid white; 
    background-color: transparent; 
    outline: none; 
    padding: 5px; 
    font-size: 16px; 
    width: 100%; 
    box-sizing: border-box; 
    margin-bottom: 10px; 
}

.inputs input[type="text"]:focus,
.inputs input[type="email"]:focus,
.inputs textarea:focus {
    
    border-bottom: 2px solid blue; /
}
.inputs p{
    color: white;
}
.submit {
    display: flex;
    justify-content: center;
}

.submit button {
    padding: 15px 70px 15px 70px;
    border: 1px solid white;
    color: #0C3B5F;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.submit button:hover {
    background-color: #0C3B5F;
    color: white;
}
.maps{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 60px;
}
.sektor7{
    padding-top: 40px;
    background-color: #072136;
    color: white;
    display: flex;
    text-align: center;
}

.product32{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    list-style-type: none; 
}


.gumbic{
    margin-top: 10px;
    padding: 15px 30px 15px 30px;
}
.gumbic a{
    text-decoration: none;
}
.gumbic a:hover{
    color: white;
}
.gumbic:hover{
    background-color: #0C3B5F;
    transition: 0.5s;
    border: white;
}

.message {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid green;
    background-color: #e6ffe6;
    display: none;
}
.area1{
    
}
.save1{
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
}
.save1 a{
    text-decoration: none;
}
.save1 a:hover{
    color: white;
}
.save1:hover{
    background-color: #0C3B5F;
    transition: 0.5s;
    border: white;
}

#togglebutton {
    position: relative;
    display: block;
    width: 100px;
    height: 50px;
    border-radius: 160px;
    background: white;
    transition: 0.2s;
    margin-top: 5px;
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.5),
                inset 0 8px 8px rgba(0, 0, 0, 0.5),
                inset 0 -4px 4px rgba(0, 0, 0, 0.5);
}

#togglebutton .indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 20px;
    background: linear-gradient(to bottom, #444, #222);
    border-radius: 50%;
    transform: scale(0.9);
    transition: 0.5s;
}

#togglebutton.active {
    background: black;
}

#togglebutton.active .indicator {
    left: 50px;
}
body.dark-theme {
    background-color: #191919;
    color: white;
}
body.dark-theme .lista ul a:hover,
body.dark-theme .gumbic:hover,
body.dark-theme .ourclients,
body.dark-theme .service,
body.dark-theme .projects,
body.dark-theme .clients {
    color: #4a90e2;  
}
body.dark-theme .header,
body.dark-theme .sektor6{
    background-color: #363535; 
    color: #ccc;  
}
body.dark-theme .sektor7 {
    background-color: #222222; 
    color: #ccc;  
}
body.dark-theme .naslov,
body.dark-theme .contact,
body.dark-theme .inputs p {
    color: #aaa; 
}

body.dark-theme .gallery-control {
    background-color: rgba(255, 255, 255, 0.5);
}
body.dark-theme #weather-info{

    background-image: linear-gradient(#DAF1F4,#B9E4EF);
    color: transparent;
}
body.dark-theme  #weather{
    background-image: linear-gradient(#DAF1F4,#B9E4EF);
    color: transparent;
}
@media screen and (min-width: 417px) and (max-width: 830px) {
    .header{
        font-size: 15px;
    }
    .maps {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .maps img {
        max-width: 100%; 
        height: auto; 
        object-fit: cover; 
    }
    .image1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
    }

    .image1 img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }
}
@media screen and (min-width: 310px) and (max-width: 416px) {
    .header{
        font-size: 10px;
    }
    .achieve{
        font-size: 70px;
    }
    .partneri img {
        max-width: 50%; 
        height: auto; 
    }
    .maps {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .maps img {
        max-width: 100%; 
        height: auto; 
        object-fit: cover;
    }
    .image1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
    }

    .image1 img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }

}
@media screen and (min-width: 280px) and (max-width: 309px) {
    .header{
        font-size: 8px;
    }
    .achieve{
        font-size: 60px;
    }
    .partneri img {
        max-width: 50%; 
        height: auto; 
    }
    .maps {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .maps img {
        max-width: 100%; 
        height: auto; 
        object-fit: cover; 
    }
    .image1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; 
    }

    .image1 img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }
}

